
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yarhooshmand.app">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>

    <application
        android:name=".YarApp"
        android:allowBackup="true"
        android:label="YarHooshmand V3"
        android:icon="@android:drawable/ic_dialog_info"
        android:theme="@style/Theme.YarHooshmand">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".reminders.VoiceConfirmService"
            android:exported="false"
            android:foregroundServiceType="microphone"/>
    </application>
</manifest>
